

.container {
    width : 800px;
    height: 533px;
    margin: 50px auto auto auto;
    border : 1px solid black;
    background-size : cover;
}

.icons {
    display : flex;
    align-items : center;
    justify-content: space-between;
    margin: 216px 20px;
    color : white
}

.left, .right {
    width : 50px;
    height: 50px;
    color : white;
    background-image : url('../icons/iconfinder___Left_1904658 (1).png');
    border : 1px solid white;
    border-radius: 50%;
    background-size: cover;
}
.right {
    background-image : url('../icons/iconfinder___Right_1904671.png');
}

ul {
    display : flex;
    justify-content : center;
    align-items : center;
}

.inactive {
    list-style : none;
    width : 20px;
    height : 20px;
    border-radius : 50%;
    border : 1px solid black;
}
.active {
    list-style : none;
    width : 20px;
    height : 20px;
    border-radius : 50%;
    border : 1px solid black;
    background-color : black;
}